#!/usr/bin/make -f
export DH_VERBOSE=1
%:
	dh $@ --with python2

override_dh_auto_install:
	python setup.py install --root=debian/autorenamer --install-layout=deb --install-lib=/usr/share/autorenamer --install-scripts=/usr/share/autorenamer

override_dh_auto_build:
